<form action="" method="POST">
    <div>
        <label for="name">Name: </label>
        <input type="text" id="name" name="name" >
    </div>
    <div>
    <label for="text"></label>
        <textarea name="text" id="text" cols="30" rows="10" placeholder="your message here"></textarea>
    </div>
    <button type="submit">Submit</button>
</form>